<h1>ホーム画面</h1>

<li><%= link_to "クローリング実行", items_new_path %></li>

<li><%= link_to "新入荷一覧", items_path %></li>

<li><%= link_to "クローリング結果のアップデート", items_update_path  %></li>

     <!--items_update_path-->