<div class="container">
  <div class="row">
      <% @new.each do |item| %>
        <div class="col-sm-6 col-md-4 col-lg-3">
        <%= link_to image_tag(item.image_url), item.item_url %>
        <%= link_to "Check detail!!", item.item_url %>
        </div>
      <% end %>
  </div>
</div>